body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  background-color: #47a3da;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search {
  width: 50%;
}

.row {
  margin-top: 20%;
}

input.searchBox {
  background: transparent;
  border: 3px solid #fff;
  border-radius: 3px;
  line-height: 1.5;
  font-size: 1.3em;
}

#searchResults {
  background: white;
}

#searchResults .searchTemplate {
  padding: 10px;
  display: flex;
  align-items: center;
  color: black;
  position: relative;
}

#searchDetails {
  background: white;
  border: 1px solid #d3d3d3;
  position: absolute;
  width: 400px;
  height: 100px;
  top: 0;
  left: 250px;
  display: none;
  z-index: 1;
  font-size: 0.7em;
  color: gray;
}

#searchResults #searchDetails:hover {
  background: #eeffff;
}

#searchResults #searchDetails .searchDesc {
  padding-top: 15px;
  display: inline-block;
}

#searchResults div:hover #searchDetails {
  display: block;
}

#searchResults #searchDetails img {
  float: left;
  width: 150px;
  height: 100px;
  margin-right: 20px;
}

label[for=withPeople] {
  display: inline-block;
  width: 170px;
  margin: 10px 0;
}
